services:
  - type: web
    name: gateway
    env: docker
    dockerfilePath: gateway/Dockerfile
    branch: main

  - type: web
    name: players-service
    env: docker
    dockerfilePath: players-service/Dockerfile
    branch: main

  - type: web
    name: teams-service
    env: docker
    dockerfilePath: teams-service/Dockerfile
    branch: main





