services:
  - type: web
    name: players-service
    env: docker
    plan: free
    dockerfilePath: players-service/Dockerfile
    autoDeploy: true
    envVars:
      - key: SPRING_R2DBC_URL
        value: r2dbc:postgresql://dpg-d3kndc1r0fns73brhmr0-a.oregon-postgres.render.com:5432/microreactive
      - key: SPRING_R2DBC_USERNAME
        value: microreactive_user
      - key: SPRING_R2DBC_PASSWORD
        value: rFjxkhbHZUaOR4p0XIjLwkQ9QpFUNM3x
    healthCheckPath: /actuator/health

  - type: web
    name: teams-service
    env: docker
    plan: free
    dockerfilePath: teams-service/Dockerfile
    autoDeploy: true
    envVars:
      - key: SPRING_R2DBC_URL
        value: r2dbc:postgresql://dpg-d3kndc1r0fns73brhmr0-a.oregon-postgres.render.com:5432/microreactive
      - key: SPRING_R2DBC_USERNAME
        value: microreactive_user
      - key: SPRING_R2DBC_PASSWORD
        value: rFjxkhbHZUaOR4p0XIjLwkQ9QpFUNM3x
    healthCheckPath: /actuator/health

  - type: web
    name: gateway
    env: docker
    plan: free
    dockerfilePath: gateway/Dockerfile
    autoDeploy: true
    envVars:
      - key: PLAYERS_SERVICE_URL
        value: https://players-service.onrender.com
      - key: TEAMS_SERVICE_URL
        value: https://teams-service.onrender.com
    healthCheckPath: /actuator/health



